.header {
    width: 100%;
    height: 120px;
    display: flex;
}

.logo {
    border: 1px solid black;
    height: 100%;
    width: 25%;
}

.banner {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

.wrapper {
    margin-top: 10px;
    width: 100%;
    height: 650px;
    display: flex;
}

.left_bar {
    height: 80%;
    width: 12%;
    display :flex;
    flex-direction: column;
}

.main {
    height: 90%;
    width: 65%;
    margin-left: 20px;
}

.right_bar {
    border: 1px solid black;
    height: 100%;
    width: calc(100% - 65% - 12%);
    margin-left: 20px;
}

.left_bar_1 {
    border: 1px solid black;
    height: 45%;
    width: 100%;
}

.left_bar_2 {
    border: 1px solid black;
    height: calc(100% - 45% - 10px - 4px);
    width: 100%;
    margin-top: 10px;
}

.new_container {
    width: 100%;
    height: 30%;
    display: flex;
}

.new {
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

.slide {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    margin-left: 20px;
}

.item_container {
    margin-top: 20px;
    height: calc(100% - 30% - 20px - 6px);
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap : wrap;
}

.item {
    border: 1px solid black;
    width: 32%;
    height: 45%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.nav {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.footer {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}


@media only screen and (max-width: 1415px) {
    .left_bar {
        display: none;
    }

    .main {
        width: 77%;
    }
    .item {
        width: 48%;
    }
}

@media only screen and (max-width: 1200px) {
    .right_bar {
        display: none;
    }

    .main {
        width: 100%;
    }
    .item {
        width: 100%;
    }
    .item_container {
        height: 100%;
    }
    .new_container {
        display: none;
    }
}